In [6]:
# Title: Assignment 2.15
# Author: James Sneddon
# Date: 10 December 2025
# Modified By: James Sneddon
# Description: This program reduces the dataset into customer/subscriber sections for rides on September 1st, 2020.
# Citi Bike system data found here: https://s3.amazonaws.com/tripdata/index.html
# filename: 202009-citibike-tripdata.csv.zip

In [7]:
import pandas as pd

In [8]:
citybike_df = pd.read_csv('/Users/jamessneddon/Downloads/JC-202009-citibike-tripdata.csv')

In [11]:
citybike_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,222,2020-09-01 00:15:58.6470,2020-09-01 00:19:40.8750,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,45656,Subscriber,1992,1
1,193,2020-09-01 00:49:00.7370,2020-09-01 00:52:14.3640,3640,Journal Square,40.733670,-74.062500,3206,Hilltop,40.731169,-74.057574,45352,Subscriber,1991,1
2,273,2020-09-01 00:51:44.5870,2020-09-01 00:56:17.7160,3191,Union St,40.718211,-74.083639,3694,Jackson Square,40.711130,-74.078900,44424,Subscriber,1969,1
3,1419,2020-09-01 00:52:48.3160,2020-09-01 01:16:28.0490,3203,Hamilton Park,40.727596,-74.044247,3270,Jersey & 6th St,40.725289,-74.045572,42240,Subscriber,1986,1
4,254,2020-09-01 00:56:16.7170,2020-09-01 01:00:31.0870,3194,McGinley Square,40.725340,-74.067622,3679,Bergen Ave,40.722104,-74.071455,42434,Subscriber,1992,1

In [18]:
citybike20200901_df = citybike_df[citybike_df['starttime'] <= '2020-09-02']
#filter dates to only include startimes on September 1st, 2020

In [22]:
citybike_df['usertype'].value_counts()
#filter user types to count # of subscribers, customers, and other

usertype
Subscriber    35284
Customer      18549
Name: count, dtype: int64